<section class="section password">
  <div class="container password__inner">
    <h1 class="password__title">
      Password strength application by Dmytro
      <a
        href="https://github.com/ShadowDrake21"
        target="_blank"
        class="password__title-link"
        >"Drake21"</a
      >
      Krapyvianskyi
    </h1>
    <div class="password__item">
      <label class="password__item-label">Password</label>
      <input
        class="password__item-input"
        type="password"
        [formControl]="passwordField"
      />
    </div>
    <div class="password__info">
      <div class="password__strength">
        <span class="password__strength-title">Password strength:</span>
        <span class="password__strength-result">Easy</span>
      </div>
      <ul class="password__indicators">
        <li class="password__indicators-section"></li>
        <li class="password__indicators-section"></li>
        <li class="password__indicators-section"></li>
      </ul>
    </div>
  </div>
</section>
