<section class="section password">
  <div class="container password__inner">
    <h1 class="password__title">
      Password strength tester app by Dmytro
      <a
        href="https://github.com/ShadowDrake21"
        target="_blank"
        class="password__title-link"
        >"Drake21"</a
      >
      Krapyvianskyi
    </h1>
    <div class="password__item">
      <label class="password__item-label">Password</label>
      <input
        class="password__item-input"
        type="password"
        [formControl]="passwordField"
      />
    </div>
    <div class="password__info">
      <div class="password__strength">
        @if (passwordField.errors?.['minlength'] && passwordField.value?.length!
        > 0) {
        <span class="password__strength-title"
          >Password is too short (less than 8 characters)</span
        >
        } @else {
        <span class="password__strength-title">Password strength:</span>
        <span class="password__strength-result">{{ passwordStrength }}</span>
        }
      </div>
      <ul
        class="password__indicators"
        [ngClass]="{  short: passwordField.errors?.['minlength'] && passwordField.value?.length! > 0, easy: passwordStrength === 'easy', medium: passwordStrength === 'medium', strong: passwordStrength === 'strong'}"
      >
        <li class="password__indicators-section"></li>
        <li class="password__indicators-section"></li>
        <li class="password__indicators-section"></li>
      </ul>
    </div>
  </div>
</section>
